{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header>
	<div class="uk-container uk-flex uk-flex-between uk-flex-middle">
		<a href="{% url 'index' %}" class="logo">
			<img src="{% static 'img/logotype.svg' %}" alt="logotype">
		</a>

		<div class="menu">
			<button class="uk-button" type="button"><i class="zmdi zmdi-view-toc"></i></button>
			<div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; pos: bottom-right; mode: click">
				<ul class="uk-nav uk-dropdown-nav">
					<li><a href="{% url 'about' %}">О нас</a></li>
					<li><a href="{% url 'category-page' %}">Обучение</a></li>
					<li><a href="#">Пройти тест</a></li>
					<li><a href="#">Информация</a></li>
					<li><a href="#modal-center" id="sign-up" uk-toggle>Авторизация</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="uk-container">
        <div class="uk-child-width-1-5 uk-flex-middle" uk-grid>
            <div>
                <div>
                    <a href="#">
                        <img src="{% static 'img/footer-logo.svg' %}" alt="logotype" class="footer-logo">
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <ul class="uk-list">
                        <li><a href="{% url 'about' %}">О нас</a></li>
                        <li><a href="{% url 'category-page' %}">Обучение</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <ul class="uk-list">
                        <li><a href="#">Пройти тест</a></li>
                        <li><a href="#">Информация</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="address">
                    <p><i class="zmdi zmdi-pin"></i>2017 Центр поддержки СМИ.
                        г. Бишкек, ул. Горького 1Б</p>
                </div>
            </div>
            <div>
                <div class="contacts">
                    <p><i class="zmdi zmdi-smartphone-android"></i> +996 312 53-00- 00 <br> +996 312 53-16- 39</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <h4 class="uk-text-center">Авторизация</h4>

        <p class="uk-text-center">Вы можете авторизоваться через одну из данных социальных сетей</p>

        <ul class="uk-list uk-text-center">
            <li>
                <a href="#">Войти через Faceook
                    <i class="zmdi zmdi-facebook-box"></i>
                </a>
            </li>
            <li>
                <a href="#">Войти через Vkontakte
                    <i class="zmdi zmdi-vk"></i>
                </a>
            </li>
            <li>
                <a href="#">Войти через Twitter
                    <i class="zmdi zmdi-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">Войти через Google
                    <i class="zmdi zmdi-google"></i></a>
            </li>
        </ul>

    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
</body>
</html>