{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="uk-section entry-section">
	<div class="uk-container uk-flex uk-flex-right">
		<div>
			<h1>Онлайн обучение - это легко!</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet lectus at tincidunt congue. Etiam porttitor elit eu libero maximus, in laoreet libero pellentesque. Fusce sed nunc sed lacus rutrum ultrices sodales eget odio. Proin cursus pellentesque malesuada. Duis quis arcu urna. Phasellus maximus ante vitae pellentesque lacinia. Phasellus vel turpis ut lorem sagittis porttitor. Sed feugiat laoreet tellus.</p>
		</div>
	</div>
</div>

<div class="uk-section menu-section">
	<div class="uk-container">
		<div class="uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
			<div class="uk-text-center">
				<a href="{% url 'about' %}" class="menu-link">
					<div>
						<span>
							<img src="{% static 'img/team.svg' %}" alt="image">
						</span>
						<p>О нас</p>
					</div>
				</a>
			</div>
			<div class="uk-text-center">
				<a href="{% url 'lesson-page' %}" class="menu-link">
					<div>
						<span>
							<img src="{% static 'img/learning_icon.svg' %}" alt="image">
						</span>
						<p>Обучение</p>
					</div>
				</a>
			</div>
			<div class="uk-text-center">
				<a href="#" class="menu-link">
					<div>
						<span>
							<img src="{% static 'img/exam.svg' %}" alt="image">
						</span>
						<p>Пройти тест</p>
					</div>
				</a>
			</div>
			<div class="uk-text-center">
				<a href="{% url 'category-page' %}" class="menu-link">
					<div>
						<span>
							<img src="{% static 'img/information.svg' %}" alt="">
						</span>
						<p>Информация</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}